Repository googleapis/python-video-live-stream, pull requests merged in 2022-07, with the labels that each got.

#78 fix(deps): require google-api-core>=1.32.0,>=2.8.0
  setup.py
  testing/constraints-3.7.txt
Labels: api: livestream, size: xs

#31 feat: bump release level to production/stable
  .repo-metadata.json
  README.rst
  setup.py
Labels: automerge, api: livestream, size: xs

#82 docs(samples): fix timeout for LROs; first call can take up to 10 minutes
  samples/snippets/create_channel.py
  samples/snippets/create_channel_with_backup_input.py
  samples/snippets/create_input.py
  samples/snippets/delete_channel.py
  samples/snippets/delete_input.py
  samples/snippets/start_channel.py
  samples/snippets/stop_channel.py
  samples/snippets/update_channel.py
  samples/snippets/update_input.py
Labels: samples, api: livestream, size: s

#86 docs(samples): fix timeout for create input and start channel LROs; f…
  samples/snippets/create_input.py
  samples/snippets/start_channel.py
Labels: samples, api: livestream, size: xs
